<!DOCTYPE html>
<html>
  <head>
    <title>RORAssignment3</title>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <a href="http://www.weichuantian.com" target="_blank">Author: Weichuan Tian</a>
        <div class="HorizLinks">
          <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Contact', contact_path %></li>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Terms', terms_path %></li>
          </ul>
        </div>
        <p>Simple Navigation</p>
        <p class="smalltext">Ruby on Rails Assignment 3</p>
      </div>
      <div id="horizontalnav">
        <div class="navlinks">
          <ul>
            <li><%= link_to 'Convert 1001', demo1_path %></li>
            <li><%= link_to 'Convert 101', demo2_path %></li>
            <li><%= link_to 'Convert 11001', demo3_path %></li>
            <li><%= link_to 'Convert 10101', demo4_path %></li>
          </ul>
        </div>
      </div>
      <div id="leftnav">
        <ul>
          <li><%= link_to 'Facebook', facebook_path %></li>
        </ul>
      </div>
      <div id="rightnav">
        <ul>
          <li><%= link_to 'LinkedIn', linkedIn_path %></li>
        </ul>
      </div>

      <%= yield %>

      <div id="footer">&copy 2016 Weichuan Tian. All Rights Reserved | Simple Navigation</div>
    </div>
  </body>
</html>
