<!DOCTYPE html>
<html>
  <head>
    <title>RORAssignment3</title>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body style="margin:0px">
    <div id="container">
      <div id="header">
        <div class="HorizLinks">
          <ul>
            <li><%= link_to "HOME", root_path %></li>
            <li style="margin-right: 50px;margin-left: 50px">|</li>
            <li><%= link_to "ABOUT", about_path %></li>
            <li style="margin-right: 50px;margin-left: 50px">|</li>
            <li><%= link_to "CONTACT", contact_path %></li>
            <li style="margin-right: 50px;margin-left: 50px">|</li>
            <li style="margin-right: 40px;"><%= link_to "TERMS", terms_path %></li>
          </ul>
        </div>
        <p>Ruby on Rails Assignment 3 - Meng Xie 89552</p>
      </div>
      <div id="horizontalnav">
        <div class="navlinks">
          <ul>
            <li style="margin-right: 100px"><%= link_to "Portfolio", portfolio_path %></li>
            <li style="margin-right: 60px"><%= link_to "Experience", experience_path %></li>
          </ul>
        </div>
      </div>
      <div id="leftnav">
        <ul>
          <li>Social Network</li></br>
          <li><hr></li>
          <li><%= link_to "Facebook", facebook_path %></li>
          <li><%= link_to "Linkedin", linkedin_path %></li>
        </ul>
      </div>
      <div id="rightnav">
        <ul>
          <li>Attachments</li></br>
          <li><hr></li>
          <li><%= link_to "Resume", resume_path %></li>
          <li><%= link_to "Portrait", portrait_path %></li>
        </ul>
      </div>

      <%= yield %>

      <div id="footer">Ruby on Rails Assignment 3 - Meng Xie 89552</div>
    </div>
  </body>
</html>
