<!DOCTYPE html>
<html>
  <head>
    <title>RORAssignment3</title>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body style="margin:0px">
    <div id="container">
      <div id="header">
        <div class="HorizLinks">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><a href="http://www.website.com">Header Link 2</a></li>
            <li><a href="http://www.website.com">Header Link 3</a></li>
            <li><a href="http://www.website.com">Header Link 4</a></li>
          </ul>
        </div>
        <p>Ruby on Rails Assignment 3 - Meng Xie 89552</p>
      </div>
      <div id="horizontalnav">
        <div class="navlinks">
          <ul>
            <li><a href="http://www.website.com">Nav Link 1</a></li>
            <li><a href="http://www.website.com">Nav Link 2</a></li>
            <li><a href="http://www.website.com">Nav Link 3</a></li>
            <li><a href="http://www.website.com">Nav Link 4</a></li>
          </ul>
        </div>
      </div>
      <div id="leftnav">
        <ul>
          <li><a href="http://www.website.com">Left Nav Link 1</a></li>
          <li><a href="http://www.website.com">Left Nav Link 2</a></li>
          <li><a href="http://www.website.com">Left Nav Link 3</a></li>
          <li><a href="http://www.website.com">Left Nav Link 4</a></li>
        </ul>
      </div>
      <div id="rightnav">
        <ul>
          <li><a href="http://www.website.com">Right Nav Link 1</a></li>
          <li><a href="http://www.website.com">Right Nav Link 2</a></li>
          <li><a href="http://www.website.com">Right Nav Link 3</a></li>
          <li><a href="http://www.website.com">Right Nav Link 4</a></li>
        </ul>
      </div>

      <%= yield %>

      <div id="footer">Ruby on Rails Assignment 3 - Meng Xie 89552</div>
    </div>
  </body>
</html>
