<!DOCTYPE html>
<html>
  <head>
    <title>RORAssignment3</title>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <a href="http://www.weichuantian.com">Author: Weichuan Tian</a>
        <div class="HorizLinks">
          <ul>
            <li><a href="http://www.website.com">Header Link 1</a></li>
            <li><a href="http://www.website.com">Header Link 2</a></li>
            <li><a href="http://www.website.com">Header Link 3</a></li>
            <li><a href="http://www.website.com">Header Link 4</a></li>
          </ul>
        </div>
        <p>Simple Navigation</p>
        <p class="smalltext">Ruby on Rails Assignment 3</p>
      </div>
      <div id="horizontalnav">
        <div class="navlinks">
          <ul>
            <li><a href="http://www.website.com">Nav Link 1</a></li>
            <li><a href="http://www.website.com">Nav Link 2</a></li>
            <li><a href="http://www.website.com">Nav Link 3</a></li>
            <li><a href="http://www.website.com">Nav Link 4</a></li>
          </ul>
        </div>
      </div>
      <div id="leftnav">
        <ul>
          <li><a href="http://www.website.com">Left Nav Link 1</a></li>
          <li><a href="http://www.website.com">Left Nav Link 2</a></li>
          <li><a href="http://www.website.com">Left Nav Link 3</a></li>
          <li><a href="http://www.website.com">Left Nav Link 4</a></li>
        </ul>
      </div>
      <div id="rightnav">
        <ul>
          <li><a href="http://www.website.com">Right Nav Link 1</a></li>
          <li><a href="http://www.website.com">Right Nav Link 2</a></li>
          <li><a href="http://www.website.com">Right Nav Link 3</a></li>
          <li><a href="http://www.website.com">Right Nav Link 4</a></li>
          <li><%= link_to 'Binary to Decimal', converter_path %></li>
        </ul>
      </div>

      <div id="body">
        This is the body  <br>
        <div class="box">
          <h2>This is the title</h2>
          Text inside the box
        </div>
      </div>

      <%= yield %>

      <div id="footer">&copy 2016 Weichuan Tian. All Rights Reserved | Simple Navigation</div>
    </div>
  </body>
</html>
